@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    scroll-behavior:smooth ;
}

header{
    background-color: rgb(17, 2, 26);
    width: 150%; 
    position: fixed;
    z-index: 999 ;
    display: flexbox ;
    justify-content: space-between;
    align-items: center;
    padding: 1px 500px;
}

.logo{
    text-decoration: none;
    color: rgb(235, 248, 249);
    font-weight: 500;
    font-size: 1.8em;
}

.navigation a{
    color: blueviolet;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 350;
    padding-left:5px ;
}

.navigation a:hover{
    color: aliceblue;
}

section{
   padding:  100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    background: url(imges/4456f8f870dde894c0d96b4b9c2d0448.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.main h2{
    color: rgb(243, 233, 52);
    font-size: 1.4;
    font-weight: 500;
}
.main h2 span{
    color: #a3f63e;
    margin-top: 10px;
    display: inline-block;
    
}
.main h3{
    color: rgb(236, 236, 237);
    font-size: 2em;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.min-btn {
    color: rgb(3, 35, 30);
    background-color: rgb(226, 237, 239);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display:inline-block;
    padding:0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.30s ease-in-out;

}
.min-btn:hover{
    background-color:  rgb(7, 9, 73);
    transform: scale(1.1);
    
}
.social-icns a{
    color: rgb(222, 233, 234);
    background-color:  rgb(7, 9, 73);
    font-size: 1.7em;
    padding-right: 20px;
    
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 600;
    display:inline-block;
    padding:0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.10s ease-in-out;

}
.social-icns a:hover{
background-color: blueviolet;
transform: scale(1.1);

}









